body {
	background: url(../_img/bg/bg-body.gif);
	font-family: 'Times New Roman', Times, serif;
	width: 550px;
	padding:15px 0 0 20px;
}

a {	color: #910000; }

h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:175%;
	margin:0 0 10px 0;
}

h2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:150%;
	line-height:110%;
	margin:0 0 7px 0;
}

h2.AH2 {
	font-size:120%;
	text-align:center;
}


h3 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:130%;
	line-height:110%;
	margin:0 0 7px 0;
}

a, h2 a { color:#910000; }
h1 a:hover, h2 a:hover { color:#cc6600; }

table {
	font-family:Tahoma,Geneva,sans-serif;
	font-size: 90%;
}

table tr td {
	vertical-align: top;
}

tbody tr:nth-child(even) td, div#pageContent tbody tr.even td {
	background:#f7f3eb;
}

tbody tr:nth-child(1) td {
	font-weight: bold;
}

p {
	font-size:120%;
	line-height:130%;
	color:#555;
	margin:0 0 10px 0;
}

p.listed {
	width:80%;
	border-left:1px solid #333;
	padding:0 0 0 10px;
}

p.listed span {
	color:#910000;
	display:block;
	font-style:oblique;
}

p img.predsedatel {
	float:right;
	border:7px solid #f3f3f3;
	margin:0 0 7px 7px;
}

ul, ol {
	font-size: 120%;
	color: #555;
}

div.Date {
	font-family:Tahoma,Geneva,sans-serif;
	font-size:90%;
	margin:0 0 10px 0;
}

div.SignatureTop, div.SignatureBottom {
		font-family:Tahoma,Geneva,sans-serif;
		font-size:90%;
		margin:0 0 10px 420px;		
	}

div.SignatureBottom {
		margin:3px 0 3px 450px;		
	}



